.admin-dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    margin-left: 30px;
  }
  
  .sidebar-header {
    font-size: 24px;
    font-weight: bold;
    color: #3d0c0c;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    
  }
  
  .menu-item {
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .menu-item.active {
    background-color: #e5e5e5;
    font-weight: bold;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fafafa;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .card p {
    font-size: 16px;
    color: #666;
  }
  
  .stats-section,
  .traffic-section {
    margin-top: 40px;
  }
  
  .add-product-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
 
  